/* -- search page ----------------------------------------------------------- */

ul.search {
  margin: 10px 0 0 20px;
  padding: 0;
}

ul.search li {
  margin-left: 0;
  padding: 5px 0 5px 20px;
  list-style-type: none;
  background-image: url(file.png);
  background-repeat: no-repeat;
  background-position: 0 7px;
}

ul.search li a {
  font-weight: bold;
}

ul.search li div.context {
  color: #888;
  margin: 2px 0 0 30px;
  text-align: left;
}

ul.keywordmatches li.goodmatch a {
  font-weight: bold;
}
