#footer {
  padding: 43px 9999px 45px;
  margin: 0 -9999px;
  overflow: hidden;
  color: #9d9d9d;
  background: #323232 url(../images/bg-footer.jpg) repeat-x 50% 0;
  font: 13px/18px $basic_font;

  p {
    margin: 0;
  }

  .footer-holder {
    margin: 0 0 9px -3px;
    overflow: hidden;
  }

  .footer-frame {
    overflow: hidden;
    position: relative;
    padding: 45px 0 0;
    margin: 0 0 39px;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      content: '';
      opacity: 0.1;
      filter: alpha(opacity=10);
    }

    .text {
      float: left;
      color: #fff;
      margin: 0 40px 0 0;
      font: 16px/19px $basic_font;
    }

    .list {
      padding: 0;
      margin: 0 0 0 -45px;
      float: left;
      list-style: none;
      font: 16px/19px $basic_font;

      li {
        float: left;
        margin: 0 0 0 45px;

        a {
          color: #a4a4a4;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footer-col {
    width: 219px;
    padding: 17px 14px 0;
    float: left;
    margin: 0 0 0 3px;

    .title {
      display: block;
      color: #fff;
      font: 16px/19px $basic_font;
      margin: 0 0 16px;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      overflow: hidden;
      font: 15px/18px $basic_font;

      li {
        margin: 0 0 8px;
      }

      a {
        color: #a5a5a5;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &.col1 {
      border-top: 2px solid #37698f;
    }

    &.col2 {
      border-top: 2px solid #547a47;
    }

    &.col3 {
      border-top: 2px solid #8b4242;
    }

    &.col4 {
      border-top: 2px solid #966f37;
    }
  }

  .footer-text {
    overflow: hidden;
    .by {
      float: right;
      color: #9d9d9d;
      font: 13px/18px $basic_font;
      a {
        color: #9d9d9d;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }

    .copy {
      color: #c6c6c6;
      overflow: hidden;
      font: 13px/18px $basic_font;
      display: block;
    }
  }

  @import "search_form";
}

