.nav-holder {
  position: relative;
  padding: 12px 9999px 0;
  margin: 0 -9999px;
  background: #3395e1;

  &.active {
    background: #fff;
    #nav {
      margin: 0 0 4px;
      border-bottom: 2px solid #e2e2e2;
      > ul {
        > li {
          &.active {
            > a {
              margin: 0 0 -2px;
              border-bottom: 2px solid #3395e1;
            }
          }
          > a {
            color: #313131;
            &:hover {
              margin: 0 0 -2px;
              border-bottom: 2px solid #3395e1;
            }
          }
        }
      }
    }
  }

  &:after {
    display: block;
    clear: both;
    content: '';
  }

  #nav {
    float: left;
    width: 905px;
    margin: 0 0 6px;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      font: 600 18px/22px $basic_sans_font;

      .slide-holder {
        position: absolute;
        top: -9999px;
        left: -9999px;
        overflow: hidden;
        background: #fff;
        width: 100%;
        z-index: 4;
        @include box-shadow(0px 4px 4px 0px rgba(0, 0, 0, 0.15));

        ul {
          padding: 0 0 0 21px;
          margin: 0 0 -8px;
          border-left: 1px solid #e2e2e2;
          list-style: none;
          overflow: hidden;
          font: 15px/18px $basic_font;
          float: left;
          width: 132px;

          &:first-child {
            margin: 0 0 0 51px;
            padding: 0;
            border: 0;
          }

          li {
            margin: 0 0 8px;
          }

          a {
            color: #575757;
            text-decoration: none;
            &:hover {
              color: #3395e1;
            }
          }
        }
      }

      .slide-frame {
        width: 999px;
        margin: 0 auto;
        padding: 10px 0 20px;
        overflow: hidden;
      }
    }

    > ul {
      > li {
        float: left;
        padding: 0 0 0 34px;

        &:first-child {
          margin: 0;
          padding: 0;
        }

        &.active {
          .slide-holder {
            left: 0;
            top: 100%;
          }
        }

        > a {
          color: #fff;
          display: inline-block;
          vertical-align: top;
          padding: 0 0 11px;
          text-decoration: none;
        }
      }
    }
  }

  .link {
    float: left;
    width: 20px;
    height: 15px;
    //background: url(../images/bg-link.png) no-repeat;
    @include sp-icons-sprite(bg-link);
    text-indent: -9999px;
    overflow: hidden;
    margin: 4px 30px 0 0;
    //todo enable it
    display: none;
  }

  .search {
    float: right;
    width: 20px;
    height: 20px;
    //background: url(../images/btn-search.png) no-repeat;
    @include sp-icons-sprite(btn-search);
    text-indent: -9999px;
    overflow: hidden;
    margin: 4px 0 0;
  }

  &.active {
    .link {
      //background: url(../images/bg-link-active.png) no-repeat;
      @include sp-icons-sprite(bg-link-active);
      //todo enable it
      display: none;
    }
    .search {
      //background: url(../images/btn-search-active.png) no-repeat;
      @include sp-icons-sprite(btn-search-active);
    }
  }
}