ul.nav2 {
  padding: 10px;
  margin: 0 0 30px 0;
  list-style: none;
  font: 600 14px/18px $basic_sans_font;
  overflow: visible;
  background: #3395e1;

  &:after {
    display: block;
    clear: both;
    content: '';
  }

  li:after {
    display: none;
  }

  li {
    float: left;
    padding: 0 13px 0 0;

    > a {
      color: white;
      text-decoration: none;
      padding-bottom: 9px;
      cursor: pointer;
    }

    ul {
      position: absolute;
      left: -10px;
      top: 27px;
      display: none;
      background: $bg_color;
      font: 15px/18px Arial, Helvetica, sans-serif;
      padding: 0 10px 5px 10px;
      z-index: 1000;
      @include box-shadow(4px 4px 4px 0px rgba(0, 0, 0, 0.15));

      li {
        float: none;
        padding: 0;
        margin: 5px 10px;
        white-space: nowrap;

        a {
          color: grey;

          &:hover {
            color: #3395e1;
          }
        }
      }
    }

    &:hover {
      ul {
        display: block;
      }
    }
  }
}