&.search-page {

  .search-form2 {
    margin: 24px 0 30px;
    padding: 9px 15px 11px 19px;
    border: 1px solid #d6d6d6;
    background: #f6f6f6 url(../images/bg-search-form.png) no-repeat;
    overflow: hidden;

    .row {
      overflow: hidden;
      padding: 10px 0;
    }

    .text {
      float: left;
      border: 1px solid #bebebe;
      background: #fff url(../images/bg-text.png) no-repeat 12px 11px;
      width: 303px;
      height: 19px;
      padding: 11px 10px 11px 44px;
      margin: 0 9px 0 0;
      color: #2d2d2d;
      font: 16px/19px $basic_font;
    }

    input[type="submit"] {
      float: left;
      width: 103px;
      height: 43px;
      background: #3395e1;
      padding: 0;
      margin: 0 17px 0 0;
      border: 0;
      cursor: pointer;
      color: #fff;
      font: 700 16px/19px $basic_font;
    }

    label {
      float: left;
      color: #212121;
      cursor: pointer;
      margin: 0 40px 0 0;
      font: 16px/19px $basic_font;
    }

    input[type="radio"],
    input[type="checkbox"] {
      display: none;
    }

    .radio {
      float: left;
      padding: 11px 13px;
      border: 1px solid #dadada;
      background: #f7f7f7;
      margin: 0 9px 0 0;

      &.active {
        background: #fff;
        border-color: #8a8a8a;
      }
    }
  }
}
