&.events-page {

  .event-list {

    padding: 13px 0 0;
    margin: -13px -13px 0 -29px;
    list-style: none;
    overflow: hidden;
    color: #393939;
    font: 15px/18px $basic_font;

    img {
      display: block;
      border: 1px solid #d6d6d6;
      margin: 0 -3px 12px;
    }

    h3 {
      font: 600 18px/22px $basic_sans_font;
      color: #1e1e1e;
      margin: 10px 0 6px;

      a {
        text-decoration: none;
        color: #1e1e1e;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    li {
      /*padding: 0;
      margin: 0;*/
      float: left;
      width: 283px;
      border: 1px solid #d6d6d6;
      padding: 11px 15px 15px 14px;
      margin: 0 0 29px 29px;

      &.active, &:hover {
        border: 2px solid #3395e1;
        margin: -1px -1px 28px 28px;
      }

      &:after {
        display: none;
      }

      .top-holder {
        margin: 0 -3px 9px;
        overflow: hidden;
      }
    }

    .remember-form {

      display: none;
      position: absolute;
      top: -1px;
      left: -1px;
      background: #fff;
      width: 272px;
      @include box-shadow(0px 0px 13px 0px rgba(0, 0, 0, 0.26));
      padding: 18px 20px 21px 22px;

      h4 {
        margin: 0 0 18px;
        font: 700 16px/19px $basic_sans_font;
        color: #2f2f2f;
      }

      .text::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #2f2f2f;
        opacity: 1;
      }

      .text:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #2f2f2f;
        opacity: 1;
      }

      .text::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #2f2f2f;
        opacity: 1;
      }

      .text:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #2f2f2f;
        opacity: 1;
      }

      .close {
        position: absolute;
        top: 20px;
        right: 19px;
        width: 16px;
        height: 16px;
        //background: url(../images/btn-close.png) no-repeat;
        @include sp-icons-sprite(btn-close);
        text-indent: -9999px;
        overflow: hidden;
      }

      .input-holder {
        overflow: hidden;
        margin: 0 0 9px;
      }

      .submit-holder {
        padding: 6px 0 0;
        overflow: hidden;
      }

      .text {
        float: left;
        border: 1px solid #d6d6d6;
        width: 244px;
        height: 37px;
        background: #fff;
        color: #2f2f2f;
        font: 16px/19px $basic_font;
        padding: 0 13px;
        margin: 0;
      }

      img {
        float: left;
        height: 50px;
        border: none;
        margin: 12px 0 6px 32px;
      }

      .reload-captcha {
        float: right;
        display: block;
        padding: 0;
        margin: 24px 32px 0 0;
        border: none;
        color: #3395e1;
        font: 600 18px/21px $basic_sans_font;
        text-align: center;
        text-decoration: none;
        cursor: pointer;

        span {
          @include sp-icons-sprite(bg-more, $offset-y: 5px);
          padding: 0 0 0 15px;
        }
      }


      input[type="submit"] {
        float: left;
        width: 272px;
        height: 39px;
        background: #3395e1;
        text-align: center;
        color: #fff;
        font: 700 16px/19px $basic_font;
        border: 0;
        cursor: pointer;
        padding: 0;
        margin: 0;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .date {
      float: left;
      color: #2b2b2b;
      font: 600 15px/18px $basic_sans_font;
      //background: url(../images/bg-date.png) no-repeat 0 1px;
      @include sp-icons-sprite(bg-date, $offset-y: 1px);
      padding: 0 0 0 22px;

      strong {
        font-weight: 700;
      }
    }

    .end-item .date {
      color: #969696;
      //background: url(../images/bg-date-end.png) no-repeat 0 1px;
      @include sp-icons-sprite(bg-date-end, $offset-y: 1px);
    }

    .now {
      float: right;
      color: #252525;
      font: 700 15px/18px $basic_sans_font;
    }

    .remember {
      float: right;
      color: #d94747;
      font: 700 15px/18px $basic_sans_font;
      text-decoration: none;
      border-bottom: 1px dotted #d94747;
    }

    .end {
      float: right;
      color: #9c9c9c;
      font: 600 15px/18px $basic_sans_font;
    }
  }

  .filter-holder {
    overflow: hidden;
    margin: 0 0 28px;

    h1 {
      float: left;
      margin: 0 25px 0 0;
    }

    .tabset-list {
      padding: 8px 0 0;
      width: 709px;
      float: left;
      margin: 0;
      overflow: visible;
      font: 600 16px/19px $basic_sans_font;
      list-style: none;
      border-bottom: 2px solid #e2e2e2;

      li {
        padding: 0;
        margin: 0 18px 0 0;
        float: left;

        &:after {
          display: none;
        }

        a {
          text-decoration: none;
          color: #747474;
          padding: 0 0 6px;
          float: left;
        }

        &.active a {
          border-bottom: 2px solid #3395e1;
          margin: 0 0 -2px;
        }
      }
    }
  }
}




