&.newsmain-page {
  a.news-search-btn {
    float: right;
    font: 700 17px/20px $basic_sans_font;
    margin: 9px 6px 0 0;
    padding: 0 0 0;
    text-decoration: none;
    color: #1e1e1e;

    &:hover {
      text-decoration: underline;
    }
  }

  .news-holder {
    width: 999px;
    margin: 0;

    &:first-child {
      width: 448px;
    }

    > h3 {
      font: 700 17px/20px $basic_sans_font;
      margin: 0 0 21px;
      padding: 0 0 6px;
      color: #1c1c1c;
      border-bottom: 2px solid #e2e2e2;
    }

    .list-holder {
      overflow: hidden;
      width: 1026px;
      margin: -4px 0 0 -27px;
    }

    .news-item {
      width: 285px;
      font: 15px/18px $basic_font;
      color: #393939;

      padding: 11px 14px 3px;
      border: 1px solid #d6d6d6;
      overflow: hidden;
      margin: 0 0 19px 27px;

      &:after {
        display: none;
      }

      h3 {
        font: 600 18px/22px $basic_sans_font;
        margin: 0 0 6px;
        a {
          color: #1e1e1e;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      h4 {
        /*margin: 0;*/
        font: 700 15px/18px $basic_sans_font;
        color: #1c1c1c;
        margin: 0 0 14px;
      }

      h5 {
        font: 600 16px/19px $basic_sans_font;
        color: #1e1e1e;
        margin: -5px 0 6px;

        a {
          text-decoration: none;
          color: #1e1e1e;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      img {
        border: 1px solid #d6d6d6;
        display: block;
        margin: 0 auto 8px;
      }

      .interview {
        background: url(../images/bg-interview.png) no-repeat;
//        @include sp-icons-sprite(bg-interview);
        padding: 0 0 0 23px;
      }

      .photo {
        background: url(../images/bg-photo.png) no-repeat 0 1px;
//        @include sp-icons-sprite(bg-photo, $offset-y: 1px);
        padding: 0 0 0 23px;
      }

      .doc {
        background: url(../images/bg-doc.png) no-repeat 0 0;
//        @include sp-icons-sprite(bg-doc);
        padding: 0 0 0 23px;
      }

      .news {
        background: url(../images/bg-news.png) no-repeat 0 5px;
//        @include sp-icons-sprite(bg-news, $offset-y: 5px);
        padding: 0 0 0 23px;
      }

      .announce {
        background: url(../images/bg-news.png) no-repeat 0 5px;
//        @include sp-icons-sprite(bg-news, $offset-y: 5px);
        padding: 0 0 0 23px;
      }

      .smig {
        background: url(../images/bg-smig.png) no-repeat 0 3px;
//        @include sp-icons-sprite(bg-smig, $offset-y: 3px);
        padding: 0 0 0 23px;
      }

      .holder {
        overflow: hidden;
        margin: 0 0 12px;

        h4 {
          float: left;
          margin: 0;
        }

        .date {
          float: right;
          margin: 0;
        }
      }

      .date {
        display: block;
        color: #979797;
        margin: 0 0 12px;
        font: 13px/18px $basic_sans_font;
      }

      .position {
        display: block;
        font: 600 13px/16px $basic_sans_font;
        margin: -2px 0 7px;
        color: #8d8d8d;
      }
    }
  }
}

