&.blog-page {

  .blog-post {
    padding: 6px 0 17px;
    overflow: hidden;
    border-bottom: 2px solid #dadada;
    margin: 0 0 21px;

    .alignleft {
      float: left;
      margin: 0 20px 0 0;
    }

    .text-holder {
      padding: 2px 0 0;
      float: left;
      width: 587px;
      font: 600 18px/25px $basic_sans_font;
      color: #8f8f8f;

      h1 {
        margin: 0 0 6px;
      }

      span {
        display: block;
      }
    }

    .info-block {
      float: left;
      width: 245px;
      padding: 8px 0 0;
      color: #8f8f8f;
      font: 18px/25px $basic_sans_font;

      h3 {
        margin: 0 0 6px;
      }
    }
  }

  .calendar-holder {
    overflow: hidden;
    border: 1px solid #d6d6d6;
    padding: 12px 11px 10px;
    font: 15px/18px $basic_font;
    color: #393939;
    margin: 0 0 19px;

    .date {
      //background: url(../images/bg-date.png) no-repeat;
      @include sp-icons-sprite(bg-date);
      padding: 1px 0 0 22px;
      display: block;
      color: #2b2b2b;
      margin: 0 0 12px;
      font: 600 13px/16px $basic_sans_font;
    }

    h3 {
      margin: 0 0 6px;
      font: 600 18px/22px $basic_sans_font
    }

    p {
      margin: 0 0 15px;
    }

    .remember {
      text-align: center;
      border: 1px solid #d6d6d6;
      display: block;
      padding: 7px 5px 10px;
      text-decoration: none;
      font: 600 15px/18px $basic_sans_font;
      color: #3395e1;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


