
div.wiki {
  padding: 0;
  margin: 0;

  .tright {
    float: right;
    clear: right;
    padding: 20px 0 20px 20px;
  }

  .tleft {
    float: left;
    clear: left;
    padding: 20px 20px 20px 0;
  }

  .tcenter {
    float: none;
    width: 100%;
    text-align: center;
  }

  div {
    &.thumbinner {
      border: 1px solid #ccc;
      padding: 3px !important;
      background-color: #f9f9f9;
      font-size: small;
      line-height: 1.4em;
      text-align: left;
      overflow: hidden;
    }

    &.thumbcaption {
      border: none;
      padding: 3px !important;
    }

    &.framecaption {
      border: none;
      padding: 3px !important;
    }
  }

  img {
    &.thumbimage {
      border: 1px solid #ccc;
      vertical-align: middle;
    }

    &.location-center {
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding: 20px;
    }

    &.location-right {
      float: right;
      padding: 20px 0 20px 20px;
    }

    &.location-left {
      float: left;
      padding: 20px 20px 20px 0;
    }
  }
}

