<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softmotions.ncms.asm">

    <sql id="asmColumns">id, name, description</sql>

    <select id="getAllAsms" resultType="com.softmotions.ncms.asm.Asm">
         SELECT * FROM ASMS ORDER BY name ASC
    </select>

    <insert id="insertAsm" parameterType="com.softmotions.ncms.asm.Asm"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO ASMS
        (name, description)
        VALUES (
           #{name},
           #{description}
        )
    </insert>

</mapper>